<div nz-row style="height: 400px; overflow-y: scroll" *ngIf="albumPictures.length">
        <div *ngFor="let picture of albumPictures" nz-col nzSpan="6">
                <nz-card nzHoverable style="width:240px; margin-top: 1rem" [nzCover]="coverTemplate">
                        <nz-card-meta nzTitle="{{picture.title}}"></nz-card-meta>
                </nz-card>
                <ng-template #coverTemplate>
                        <img alt="example" [src]="picture.thumbnailUrl" />
                </ng-template>
        </div>
</div>
<div *ngIf="!albumPictures.length">
        <b>Note:</b> Get back with new Album Id
</div>