<div nz-row>
    <div nz-col nzSpan="6"> <img style="width: 200px"
            src="https://images.pexels.com/photos/736230/pexels-photo-736230.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
    </div>
    <div nz-col nzSpan="6"> <img style="width: 200px"
            src="https://images.pexels.com/photos/736230/pexels-photo-736230.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
    </div>
    <div nz-col nzSpan="6"> <img style="width: 200px"
            src="https://images.pexels.com/photos/736230/pexels-photo-736230.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
    </div>
    <div nz-col nzSpan="6"> <img style="width: 200px"
            src="https://images.pexels.com/photos/736230/pexels-photo-736230.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
    </div>
</div>