<div style="display: flex; justify-content: center">
        <h1>All Albums</h1>
    </div>
    <div style="height: 400px; overflow-y: scroll">
        <div nz-row [nzGutter]="8" >
            <div  *ngFor="let album of albums" nz-col [nzSpan]="8" style="cursor: pointer; margin-top: 1rem" [routerLink]="['/albums/album-gallery']">
                <nz-card nzTitle="{{album.title}}">
                    <p>Click any of one to view their pictures</p>
                </nz-card>
            </div>
        </div>
    </div>