<div style="display: flex; justify-content: center">
    <nz-badge [nzCount]="postCount || 0">
        <a class="head-example" [routerLink]="['/posts/post-list']">
            <div style="display: flex;justify-content: center">
                <p style="color: #fff;text-align: center; margin-top: 25%">POSTS</p>
            </div>
        </a>
    </nz-badge>
    <nz-badge [nzCount]="albumCount" nzShowZero>
        <a class="head-example" [routerLink]="['/albums/album-list']">
            <div style="display: flex;justify-content: center">
                <p style="color: #fff;text-align: center; margin-top: 25%">ALBUMS</p>
            </div>
        </a>
    </nz-badge>
    <nz-badge [nzCount]="commentCount">
        <a class="head-example">
            <div style="display: flex;justify-content: center">
                <p style="color: #fff;text-align: center; margin-top: 25%">COMMENTS</p>
            </div>
        </a>
    </nz-badge>
    <nz-badge [nzCount]="photoCount">
        <a class="head-example">
            <div style="display: flex;justify-content: center">
                <p style="color: #fff;text-align: center; margin-top: 25%">PHOTOS</p>
            </div>
        </a>
    </nz-badge>
</div>