<nz-list style="overflow-y: scroll; height: 300px; border-bottom: 1px solid #ccc; width: 100%" [nzDataSource]="comments" [nzRenderItem]="item" [nzItemLayout]="'horizontal'">
    <ng-template #item let-item>
        <nz-comment [nzAuthor]="item.name">
            <!-- <nz-avatar nz-comment-avatar nzIcon="user" [nzSrc]="item.avatar"></nz-avatar> -->
            <nz-comment-content>
                <p style="margin-left: 1rem; font-size: 11px">{{ item.body }}</p>
            </nz-comment-content>
        </nz-comment>
    </ng-template>
</nz-list>